// | -------------------------------------------------------------
// | Animation
// | -------------------------------------------------------------

@use '../keyframes/blink' as *;
@use '../keyframes/fade-in' as *;
@use '../keyframes/pop-up' as *;
@use '../keyframes/spin' as *;

[data-animation="blink"] {
  animation: blink 0.25s ease-in-out 2;
}

[data-animation="fade-in"] {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

[data-animation="pop-up"] {
  animation: pop-up 1.5s ease-in-out forwards;
}

[data-animation="spin"] {
  animation: spin 5 0.15s linear;
}

[data-animation-delay="0.25s"] {
  animation-delay: 0.25s;
}

[data-animation-delay="0.5s"] {
  animation-delay: 0.5s;
}

[data-animation-delay="0.75s"] {
  animation-delay: 0.75s;
}

[data-animation-delay="1s"] {
  animation-delay: 1s;
}
