// | -------------------------------------------------------------
// | Spacings
// | -------------------------------------------------------------

@use '../space' as *;

@each $space in $space-scale {
  $nr: nth($space, 1);
  $space-amount: nth($space, 2);

  .space-#{$nr} {
    padding: #{$space-amount};
  }
}
