// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(276, 100%, 79%),
    200: hsl(276, 79%, 69%),
    300: hsl(276, 53%, 49%),
    400: hsl(276, 64%, 48%),
    500: hsl(276, 96%, 30%),
  ),
  secondary: (
    100: hsl(173, 81%, 68%),
    200: hsl(173, 80%, 63%),
    300: hsl(173, 72%, 57%),
    400: hsl(173, 75%, 47%),
    500: hsl(173, 90%, 40%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  info: (
    100: hsl(195 100% 94%),
    200: hsl(195 100% 85%),
    300: hsl(194 95% 74%),
    400: hsl(197 91% 60%),
    500: hsl(198 84% 54%),
    600: hsl(201 78% 46%),
    700: hsl(202 82% 40%),
    800: hsl(202 87% 34%),
    900: hsl(203 95% 27%),
  ),
  success: (
    100: hsl(155 66% 96%),
    200: hsl(154 75% 87%),
    300: hsl(156 72% 74%),
    400: hsl(160 50% 49%),
    500: hsl(161 62% 41%),
    600: hsl(163 71% 33%),
    700: hsl(165 72% 28%),
    800: hsl(167 79% 23%),
    900: hsl(169 97% 15%),
  ),
  warning: (
    100: hsl(47 100% 96%),
    200: hsl(47 100% 88%),
    300: hsl(48 95% 76%),
    400: hsl(44 91% 62%),
    500: hsl(41 86% 55%),
    600: hsl(36 76% 49%),
    700: hsl(29 79% 44%),
    800: hsl(21 81% 38%),
    900: hsl(14 85% 30%),
  ),
  error: (
    100: hsl(0 100% 94%),
    200: hsl(0 100% 87%),
    300: hsl(0 100% 80%),
    400: hsl(0 82% 61%),
    500: hsl(355 74% 52%),
    600: hsl(354 84% 43%),
    700: hsl(352 90% 35%),
    800: hsl(350 94% 27%),
    900: hsl(347 94% 19%),
  ),
);
