// | -------------------------------------------------------------
// | Lists
// | -------------------------------------------------------------

@use "breakpoint" as *;
@use "space" as *;

ul:not([class]),
ol:not([class]) {
  margin-left: $space-16;

  ul,
  ol {
    padding: $space-8 $space-16 0;
  }

  li {
    margin-bottom: $space-8;
  }
}

ul:not([class]) {
  > li::marker {
    display: block;
    color: var(--primary-800);
  }
}

ol.incremented {
  counter-reset: item;

  ol{
    counter-reset: item;
  }

  ol,
  ul {
    margin: $space-12 0 0 $space-16;
  }

  li {
    display: block;
    margin-bottom: $space-8;

    @include breakpoint(medium) {
      margin-bottom: $space-12;
    }

    &::before {
      content: counters(item, ".") ". ";
      counter-increment: item;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      display: inline;
    }
  }

  ul {
    li::before {
      content: "";
    }
  }
}
