// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

@use "color" as *;

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
}
