/*
 | -------------------------------------------------------------
 |  --> align horizontal
 | -------------------------------------------------------------
 |
 | 	Align horizontal utility tokens.
 |
*/

.align-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
