// | -------------------------------------------------------------
// | > Align Horizontal
// | -------------------------------------------------------------
// |   Align Horizontal utility token.
// | -------------------------------------------------------------

.align-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
