// | -------------------------------------------------------------
// | > Contents
// | -------------------------------------------------------------
// |   Contents utility token.
// | -------------------------------------------------------------

.contents {
  display: contents;
}
