// | -------------------------------------------------------------
// | > Gutter
// | -------------------------------------------------------------
// |   Gutter utility token.
// | -------------------------------------------------------------

.gap-small {
  gap: var(--gap-small);
}

.gap-default {
  gap: var(--gap-default);
}

.gap-big {
  gap: var(--gap-big);
}
