// | -------------------------------------------------------------
// | > Margins
// | -------------------------------------------------------------
// |   Margins utility token.
// | -------------------------------------------------------------

@use '../breakpoint' as *;
@use '../space' as *;

@each $space in $space-scale {
  $nr: nth($space, 1);
  $space-small: nth($space, 2);
  $space-medium: nth($space, 3);

  .margin-#{$nr} {
    margin-top: #{$space-small};
    margin-bottom: #{$space-small};

    @include breakpoint(medium) {
      margin-top: #{$space-medium};
      margin-bottom: #{$space-medium};
    }
  }
}

// exclude top
.top {
  margin-bottom: 0;
}

// exclude bottom
.bottom {
  margin-top: 0;
}
