/*
 | -------------------------------------------------------------
 |  --> padding
 | -------------------------------------------------------------
 |
 | 	Padding utility tokens.
 |
*/

@use '../breakpoint' as *;
@use '../space' as *;

@each $space in $space-scale {
  $nr: nth($space, 1);
  $space-small: nth($space, 2);
  $space-medium: nth($space, 3);

  .padding-#{$nr} {
    padding-top: #{$space-small};
    padding-bottom: #{$space-small};

    @include breakpoint(medium) {
      padding-top: #{$space-medium};
      padding-bottom: #{$space-medium};
    }
  }
}
