/*
 | -------------------------------------------------------------
 |  --> global styles
 | -------------------------------------------------------------
 |
 | 	This file contains all the global styling components.
 |
*/

// global styles
@use "base/reset";
@use "base/root";
@use "base/scheme";
@use "base/font";
@use "base/list";

// utilities
@use "base/auto-grid";
@use "base/grid";
@use "base/utility";
