// | -------------------------------------------------------------
// | Pop Up
// | -------------------------------------------------------------

@keyframes pop-up {
  0% {
    transform: scale(0.1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
