---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="my-12">
    <div class="container">
      <h1>404</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">This page does not exist. Don't worry though, we got you.</p>
      <a class="button" href="/">Let's get you home Astronout 🚀</a>
    </div>
  </section>
</DefaultLayout>
