---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="margin-48">
    <div class="container">
      <h1>404</h1><br>
    </div>
  </section>
  <section class="margin-48">
    <div class="container space-content">
      <p class="size-20">This page does not exist.</p>
      <a class="size-18" href="/">Go back to the homepage</a>
    </div>
  </section>
</DefaultLayout>
