---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="About">
  <section class="margin-48">
    <div class="container">
      <h1>About page</h1>
    </div>
  </section>
  <section class="margin-24">
    <div class="container" data-auto-grid="2">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam repellat deleniti obcaecati facilis non, praesentium aperiam laudantium excepturi assumenda doloremque animi quis aliquam eligendi quia nemo asperiores et eaque, sunt voluptatibus, saepe exercitationem id. Quis sequi maxime fugiat nam reprehenderit nesciunt quaerat obcaecati, ipsa dignissimos voluptatum voluptatem, optio quidem quos repudiandae dolorem voluptatibus fuga officia odio nemo recusandae voluptas. Eaque incidunt exercitationem tempora mollitia doloribus hic esse a maxime? A explicabo culpa maiores. Provident suscipit vitae eligendi sit molestias minima. Suscipit non, qui quisquam ex quos, incidunt eius adipisci mollitia quod natus doloremque optio tempore consectetur esse perspiciatis minima quae vitae, recusandae aliquam deserunt at aliquid? Possimus nihil rerum quia, in culpa sit, inventore quasi minus repudiandae voluptates, vitae quibusdam. Maiores quaerat atque quos ut nam aliquid reprehenderit est exercitationem. Nulla dolorum, officia porro a ut, temporibus quas doloremque similique architecto incidunt explicabo repudiandae ducimus eveniet maxime necessitatibus ipsa iste alias voluptatibus facere minus consequatur corporis ea. Sapiente debitis, eos, vitae blanditiis doloribus non unde dolorum reiciendis illum pariatur earum porro magnam quos, ullam dolorem consectetur. Minima vitae ea distinctio. Nisi ipsam ducimus qui magnam aut! Aspernatur, ea tempore laboriosam ipsa voluptatem magnam quasi distinctio architecto, obcaecati eum corporis!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam repellat deleniti obcaecati facilis non, praesentium aperiam laudantium excepturi assumenda doloremque animi quis aliquam eligendi quia nemo asperiores et eaque, sunt voluptatibus, saepe exercitationem id. Quis sequi maxime fugiat nam reprehenderit nesciunt quaerat obcaecati, ipsa dignissimos voluptatum voluptatem, optio quidem quos repudiandae dolorem voluptatibus fuga officia odio nemo recusandae voluptas. Eaque incidunt exercitationem tempora mollitia doloribus hic esse a maxime? A explicabo culpa maiores. Provident suscipit vitae eligendi sit molestias minima. Suscipit non, qui quisquam ex quos, incidunt eius adipisci mollitia quod natus doloremque optio tempore consectetur esse perspiciatis minima quae vitae, recusandae aliquam deserunt at aliquid? Possimus nihil rerum quia, in culpa sit, inventore quasi minus repudiandae voluptates, vitae quibusdam. Maiores quaerat atque quos ut nam aliquid reprehenderit est exercitationem. Nulla dolorum, officia porro a ut, temporibus quas doloremque similique architecto incidunt explicabo repudiandae ducimus eveniet maxime necessitatibus ipsa iste alias voluptatibus facere minus consequatur corporis ea. Sapiente debitis, eos, vitae blanditiis doloribus non unde dolorum reiciendis illum pariatur earum porro magnam quos, ullam dolorem consectetur. Minima vitae ea distinctio. Nisi ipsam ducimus qui magnam aut! Aspernatur, ea tempore laboriosam ipsa voluptatem magnam quasi distinctio architecto, obcaecati eum corporis!</p>
    </div>
  </section>
</DefaultLayout>

