---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Accessible Components">
  <section class="my-12">
    <div class="space-content container">
      <h1>Accessible Components</h1>
      <p class="text-2xl">
        An example of a blog with dynamic content fetched from <a href="https://jsonplaceholder.typicode.com/posts"
          >JSONPlaceholder</a
        > using the title, body and userId. The <a href="https://components.accessible-astro.dev/card"
          >Accessible Astro Card Component</a
        > is used here to display al the posts.
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <h2>Accordion</h2>
    </div>
  </section>
</DefaultLayout>
