---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'

import { getCollection } from "astro:content";

let posts = await getCollection("posts");
posts.sort((postA, postB) => postA.data.order < postB.data.order ? -1 : 1)
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Stories</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        {
          posts.map((post) => (
            <Feature icon={post.data.icon} title={post.data.title} onClick="window.location.href='{`/posts/${post.slug}`}'">
              {post.data.description}
            </Feature>
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>
