---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Home">
  <section class="margin-48">
    <div class="container">
      <h1>Accessible Astro <em>Starter</em></h1><br>
    </div>
  </section>
  <section class="padding-48 color-primary">
    <div class="container">
      <h2 class="margin-16 bottom">Auto Grid</h2>
    </div>
    <div class="container" data-auto-grid="3">
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium placeat eius officiis veniam totam. Earum eos et voluptate dolorem. </p>
      </div>
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.25s">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium placeat eius officiis veniam totam. Earum eos et voluptate dolorem.</p>
      </div>
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.5s">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusantium placeat eius officiis veniam totam. Earum eos et voluptate dolorem.</p>
      </div>
    </div>
    <div class="container margin-16 top">
      <a href="#" class="button">Tab to me first!</a>&nbsp;
      <a href="#" class="button color-secondary">Then it's my turn</a>
    </div>
  </section>
  <section class="margin-64">
    <div class="container">
      <div class="grid">
        <div class="small-12">
          <h2>12 Column Grid</h2>
        </div>
        <div class="small-12 medium-3 space-content">
          <h3>Sidebar</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </div>
        <div class="small-12 medium-8 offset-medium-4 space-content">
          <h3>Main</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia alias sunt accusamus reiciendis fuga delectus, repellendus molestiae dolore illo iusto eligendi eaque qui hic facilis assumenda! Velit, minus, nobis. <strong><a href="#">And lastely tab to me</a></strong>.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia alias sunt accusamus reiciendis fuga delectus, repellendus molestiae dolore illo iusto eligendi eaque qui hic facilis assumenda! Velit, minus, nobis.</p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
