---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>&copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>.</p>
    </div>
  </section>
</footer>
