---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>. Made by <a
          href="https://github.com/markteekman">Mark Teekman</a
        >.
      </p>
    </div>
  </section>
</footer>
