---
import Navigation from '../components/Navigation.astro'
import {SkipLinks} from 'accessible-astro-components'
import {Icon} from 'astro-icon'
import Menu from "./common/Menu.astro";

const links= [{title: 'Home', href: '/home'}, {
    title: 'Contact',
    href: '/contact'
}, {title: 'Information', href: '/information'}]
---

<header class="flex justify-between px-20 py-10 border-2 border-black">
    <div class="text-2xl">
        devexc
    </div>
    <Menu links={links}/>
</header>


