---
// import SkipLinks from ../components/SkipLinks.astro
---
<header role="banner">
  <div class="container">
    <!-- TODO: add skiplinks -->

    <!-- logo -->

    <!-- responsive menu toggle -->

    <!-- main navigation -->
    <nav id="main-navigation"></nav>

    <!-- call to action -->
  </div>
</header>