---
import SkipLinks from '../components/SkipLinks.astro'
import Navigation from '../components/Navigation.astro'
import ResponsiveToggle from '../components/ResponsiveToggle.astro'
---

<header>
  <SkipLinks client:load />
  <section class="padding-16 color-neutral">
    <div class="container">
      <img src={(await import('../assets/img/logo.svg')).default} alt="Your Logo">
      <ResponsiveToggle client:load />
      <Navigation client:load />
    </div>
  </section>
</header>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }

    img {
      max-height: 40px;
    }
  }
</style>
