<button class="responsive-toggle" aria-expanded="false" aria-label="Open menu navigation">
  <svg viewBox="0 0 512 512" aria-hidden="true" fill="var(--action-color)"><path d="M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z"></path></svg>
</button>

<script>
  // variables
  const responsiveToggle = document.querySelector('.responsive-toggle')

  // functions
  const openMenu = (toggle) => {
    toggle.setAttribute('aria-expanded', true)
    toggle.setAttribute('aria-label', 'Close menu navigation')
    toggle.innerHTML = `<svg viewBox="0 0 512 512 aria-hidden="true"" fill="var(--action-color)"><path d="m289.94 256 95-95A24 24 0 0 0 351 127l-95 95-95-95a24 24 0 0 0-34 34l95 95-95 95a24 24 0 1 0 34 34l95-95 95 95a24 24 0 0 0 34-34z"></path></svg>`
  }

  const closeMenu = (toggle) => {
    toggle.setAttribute('aria-expanded', false)
    toggle.setAttribute('aria-label', 'Open menu navigation')
    toggle.innerHTML = `<svg viewBox="0 0 512 512 aria-hidden="true"" fill="var(--action-color)"><path d="M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z"></path></svg>`
  }

  // execution
  responsiveToggle.addEventListener('click', _ => {
    const mobileNavigation = document.querySelector('.mobile-menu')

    mobileNavigation.classList.toggle('show')
    mobileNavigation.classList.contains('show')
      ? openMenu(responsiveToggle)
      : closeMenu(responsiveToggle)
  })
</script>

<style lang="scss" is:global>
  @use "../assets/scss/base/breakpoint" as *;
  @use "../assets/scss/base/outline" as *;

  .responsive-toggle {
    display: none;
    padding: 0;
    border: none;

    svg {
      width: 30px;
    
      path {
        transition: fill 0.2s ease-in-out;
      }
    }

    &:hover {
      svg path {
        fill: var(--primary-400);
      }
    }
  }
</style>
