<section>
  <nav class="skip-links" aria-label="Skiplinks">
    <ul>
      <li>
        <slot name="main-navigation">
          <a href="#main-navigation" data-skip-link>Skip to main menu</a>
        </slot>
      </li>
      <li>
        <slot name="main-content">
          <a href="#main-content" data-skip-link>Skip to main content</a>
        </slot>
      </li>
    </ul>
  </nav>
</section>

<script>
  // variables
  const skipLinks = [...document.querySelectorAll('[data-skip-link]')]

  // execution
  if (skipLinks.length > 0) {
    skipLinks.forEach(link => {
      link.addEventListener('keydown', event => {
        if (!event.target.closest('[data-skip-link]')) return
        const key = event.key

        if (key !== 'Enter') return
        event.preventDefault()
        const target = event.target.getAttribute('href')

        if (target === '#main-navigation') {
          const navigation = document.querySelector('#main-navigation')
          navigation.querySelector('a').focus()
        }

        if (target === '#main-content') {
          const h1 = document.querySelector('h1')
          h1.setAttribute('tabindex', '-1')
          h1.focus()
        }
      })
    })
  }
</script>

<style lang="scss">
  .skip-links {
    a {
      color: var(--action-color);
      background-color: var(--background);
      border-bottom-right-radius: 6px;
      padding: 1rem 3.25rem;
      position: absolute;
      display: block;
      z-index: 10;
      top: -100vh;
      left: 0;

      &:hover,
      &:focus {
        top: 0;
        outline-offset: 2px;
      }
    }
  }
</style>