/*
 | -------------------------------------------------------------
 |	--> elevation
 | -------------------------------------------------------------
 |
 |  Box-shadow mixins used as tokens in _tokens.scss
 |
*/

// use to override other elevations
@mixin elevation-000 {
  box-shadow: none;
}

// levels
@mixin elevation-100 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

@mixin elevation-200 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

@mixin elevation-300 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@mixin elevation-400 {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

// use for modals
@mixin elevation-500 {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
