/*
 | -------------------------------------------------------------
 |	--> scheme
 | -------------------------------------------------------------
 |
 | 	Light and dark mode schemes used throughout the project.
 |
*/

:root {
  // light color scheme (default)
  --font-color: var(--neutral-clr-900);
  --action-color: var(--secondary-clr-500);
  --background: var(--neutral-clr-0);
  --primary-background: var(--primary-clr-100);
  --neutral-background: var(--neutral-clr-200);
}

// dark color scheme overrides
.darkmode {
  --font-color: var(--neutral-clr-0);
  --action-color: var(--secondary-clr-100);
  --background: var(--neutral-clr-800);
  --primary-background: var(--primary-clr-500);
  --neutral-background: var(--neutral-clr-900);
}
