/*
 | -------------------------------------------------------------
 |	--> size
 | -------------------------------------------------------------
 |
 | 	All size mixins that come with the Design System. Used
 | 	throughout all SCSS partials and components for sizing
 | 	fonts, headings and icons.
 |
*/

// size mixins
@mixin size-10 {
  font-size: 0.625rem;
  line-height: 0.9375rem;
}

@mixin size-12 {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@mixin size-14 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

@mixin size-16 {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin size-18 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

@mixin size-20 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@mixin size-24 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@mixin size-30 {
  font-size: 1.875rem;
  line-height: 2.8125rem;
}

@mixin size-36 {
  font-size: 2.25rem;
  line-height: 3.375rem;
}

@mixin size-48 {
  font-size: 3rem;
  line-height: 3.625rem;
}

@mixin size-60 {
  font-size: 3.75rem;
  line-height: 5.125rem;
}

@mixin size-72 {
  font-size: 4.5rem;
  line-height: 6.125rem;
}
