/*
 | -------------------------------------------------------------
 |	--> space
 | -------------------------------------------------------------
 |
 | 	All space variables that come with the Design System. Used
 | 	throughout all SCSS partials and components for spacing
 | 	blocks and sections.
 |
*/

// space variables
$space-2: 0.125rem;
$space-4: 0.25rem;
$space-8: 0.5rem;
$space-12: 0.75rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-48: 3rem;
$space-64: 4rem;
$space-96: 6rem;
$space-128: 8rem;
$space-192: 12rem;
$space-256: 16rem;
$space-384: 24rem;
$space-512: 32rem;
$space-640: 40rem;
$space-768: 48rem;
