---
interface Props {
    title: string,
    type: string
    placeholder: string
}


const {title, type, placeholder} = Astro.props;
---


<div class="form_group flex flex-col">
    <label for={type} class="sub_title">{title}</label>
    <input type={type} class="form_style" placeholder={placeholder}/>
</div>


<style lang="">
    .form_style {
        outline: none;
        border: 2px solid #000;
        box-shadow: 3px 4px 0px 1px #000;
        width: 290px;
        padding: 12px 10px;
        border-radius: 4px;
        font-size: 15px;
    }

    .form_style:focus {
        transform: translateY(4px);
        box-shadow: 1px 1px 0 0 #000;
    }
</style>