---
import '@astrojs/tailwind/base.css'
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import ButtonPress from "../components/common/ButtonPress.svelte";
import Input from "../components/common/Input.svelte";
import CheckBox from "../components/common/CheckBox.svelte";
import CardNeo from "../components/common/CardNeo.svelte";
import Dialog from "../components/common/Dialog.svelte";
import DropDown from "../components/common/DropDown.svelte";

const {
    title = 'Astro',
    description = 'A starter project with accessibility features using Astro static site builder. Contains accessible landmarks, skip links, a dark mode color scheme, better focus outline and keyboard menu navigation.',
    url,
    image = '/social-preview-image.png',
    author = 'Mark Teekman',
} = Astro.props
---


<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>

    <SiteMeta
            title={title}
            description={description.substring(0, 100)}
            url={Astro.site
                ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
                : `https://accessible-astro.dev/${title.toLowerCase().replaceAll(' ', '-')}`}
            image={image}
            author={author}
    />
</head>
<body>
<Header/>
<main id="main-content">


    <div class="flex flex-col gap-3 justify-center items-center mt-20">
        <h1>NEO</h1>
        <div>
            <CardNeo/>
        </div>
        <div>
            <ButtonPress  rounded="none">
                Click
            </ButtonPress>
        </div>
        <div>
            <CheckBox client:visible/>
        </div>
        <div>
            <Input title="Passord" type="password" placeholder="Type your password" />
        </div>
        <div>
            <Dialog/>
        </div>
        <div>
            <DropDown client:visible  options={['1','2','3']}/>
        </div>

    </div>

    <slot/>
</main>
<Footer/>

</body>
</html>






