---
import '../assets/scss/globals.scss'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {title} = Astro.props
let subtitle = 'Accessible Astro Starter'
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

    <!-- open graph -->
    <meta property="og:title" content="Accessible Astro Starter">
    <meta property="og:description" content="A starter project with accessible features using Astro static site builder. Contains accessible landmarks, skip links, a dark mode color scheme, better focus outline and keyboard menu navigation.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://accessible-astro.markteekman.nl/">
    <meta property="og:image" content="assets/social-preview-image.png">

    <!-- page title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  // sticky footer on low content pages
  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);

    main {
      flex: 1 0 auto;
    }

    footer {
      flex-shrink: 0;
    }
  }
</style>
