---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {title} = Astro.props
let subtitle = 'Accessible Astro Starter'
---
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.google.com/specimen/Open+Sans:wght@300;400;700" rel="stylesheet">

    <!-- global css -->
    <link rel="stylesheet" href="styles/globals.css">

    <!-- open graph -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- page title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body>

    <!-- header -->
    <Header />

    <!-- main -->
    <main id="main-content" role="main">

      <slot />

    </main>

    <!-- footer -->
    <Footer />

  </body>
</html>