---
import '@astrojs/tailwind/base.css'
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import ButtonHover from "../components/common/ButtonHover.svelte";
import ButtonPress from "../components/common/ButtonPress.astro";
import Input from "../components/common/Input.astro";
import Card from "../components/common/Card.astro";
import CheckBox from "../components/common/CheckBox.svelte";

const {
    title = 'Astro',
    description = 'A starter project with accessibility features using Astro static site builder. Contains accessible landmarks, skip links, a dark mode color scheme, better focus outline and keyboard menu navigation.',
    url,
    image = '/social-preview-image.png',
    author = 'Mark Teekman',
} = Astro.props
---


<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>

    <SiteMeta
            title={title}
            description={description.substring(0, 100)}
            url={Astro.site
                ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
                : `https://accessible-astro.dev/${title.toLowerCase().replaceAll(' ', '-')}`}
            image={image}
            author={author}
    />
</head>
<body>
<Header/>
<main id="main-content">
    <div class="w-full flex items-center justify-center mt-20 gap-5">
        <div>
            <ButtonHover client:visible background='bg-pink-500'>
                Button
            </ButtonHover>
        </div>
        <div>
            <ButtonPress>
                Press
            </ButtonPress>
        </div>
        <div>
            <Input title="Email" type="email" placeholder="type you email"/>

        </div>
    </div>
    <div class="mt-10 w-full flex gap-5 justify-center items-center">
        <Card title="Title" text='text'/>
        <div class="flex items-center">
            <CheckBox client:visible/>
        </div>
    </div>

    <slot/>
</main>
<Footer/>

</body>
</html>






