// | -------------------------------------------------------------
// | > Auto Grid
// | -------------------------------------------------------------
// |   Easy to implement column layouts with display grid.
// | -------------------------------------------------------------

// used variables and mixins
@use "breakpoint" as *;
@use "space" as *;

[data-auto-grid] {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--gap-default);
}

@for $i from 2 through 6 {
  [data-auto-grid="#{$i}"] {
    @include breakpoint(medium) {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}

[data-grid-center] {
  justify-items: center;
  align-items: center;
}
