// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(194, 100%, 96%),
    200: hsl(194, 100%, 80%),
    300: hsl(194, 100%, 70%),
    400: hsl(194, 70%, 47%),
    500: hsl(194, 100%, 21%),
  ),
  secondary: (
    100: hsl(25, 100%, 75%),
    200: hsl(25, 100%, 68%),
    300: hsl(25, 100%, 55%),
    400: hsl(25, 92%, 45%),
    500: hsl(25, 100%, 32%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
);
