// | -------------------------------------------------------------
// | > Outline
// | -------------------------------------------------------------
// |   Outline mixin to help with (tab)focus of different
// |   elements on the page.
// | -------------------------------------------------------------

@mixin outline {
  outline: 2px dotted black;
  outline-color: black;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
}
