/*
 | -------------------------------------------------------------
 |	--> space
 | -------------------------------------------------------------
 |
 |  Space variables used in _tokens.scss and other base files.
 |
*/

// space variables
$space-2: 0.125rem;
$space-4: 0.25rem;
$space-8: 0.5rem;
$space-12: 0.75rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-48: 3rem;
$space-64: 4rem;
$space-96: 6rem;
$space-128: 8rem;
$space-192: 12rem;
$space-256: 16rem;
$space-384: 24rem;
$space-512: 32rem;
$space-640: 40rem;
$space-768: 48rem;

// space scales for utilities
$space-scale:
  (2 #{$space-2} #{$space-4})
  (4 #{$space-4} #{$space-8})
  (8 #{$space-8} #{$space-12})
  (12 #{$space-12} #{$space-16})
  (16 #{$space-16} #{$space-24})
  (24 #{$space-24} #{$space-32})
  (32 #{$space-32} #{$space-48})
  (48 #{$space-48} #{$space-64})
  (64 #{$space-64} #{$space-96})
  (96 #{$space-96} #{$space-128})
  (128 #{$space-128} #{$space-192})
  (192 #{$space-192} #{$space-256})
  (256 #{$space-256} #{$space-384})
  (384 #{$space-384} #{$space-512})
  (512 #{$space-512} #{$space-640})
  (640 #{$space-640} #{$space-768})
;
